// nav style
nav{
    position: absolute;
    top: 4vh;
    right: 10vh;
     ul{
        display: flex;
        justify-content: flex-end;
        li:active,:hover{
            text-decoration: underline 3px $secondary;
            text-underline-offset: 8px;
        }
        a{
            margin: 0 20px;

        }
    }
}
// index page header images styles
.headerImgContainer{
    height: 90vh;
    background-image: url(../captured-final-assets/header-image.jpg);
    position: relative;    
}

.headerBoxContainer{
    position: absolute;
    top: 40vh;
    right: 0;
    width: 40%;
    box-shadow: 
    -8px -20px 0 2em $primary,-8px 20px 0 2em $primary;

}

// h1 styles 
h1{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom:15%;
    left:25vw;
    z-index: 10;
    background: transparent;


}


