// nav style
nav{
    position: absolute;
    top: 4vh;
    right: 10vh;
     ul{
        display: flex;
        justify-content: flex-end;
        li:first-child{
            text-decoration: underline 3px $secondary;
            text-underline-offset: 8px;
        }
        a{
            margin: 0 20px;

        }
    }
}

.headerImgContainer{
    position: relative;
}

.headerBoxContainer{
    position: absolute;
    top: 25vh;
    right: 0;
    width: 40vw;
    border: 30px $primary solid;
    border-right: none;
}

h1{
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;

}

// intro section style
.intro{
    text-align: center;
    background-color: $quinary;
    padding: 150px 50px 100px;
    p{
        text-align: justify;
    }
}